/*---------- DARK MODE ----------*/
.dark-mode {
    background-color: #222;
    color: #fff
}

.dark-mode,
.dark-mode html,
.dark-mode body,
.dark-mode #col2-body {
    background-color: #222;
    color: #fff;
    box-shadow: none;
}

.dark-mode #col1-body {
    background-color: #30352b;
    z-index: 2;
}

.dark-mode iframe {
    filter: invert(87%)
}

.dark-mode .dropdown-content {
    background-color: #30352b;
}