/*---------- DARK MODE ----------*/
.dark-mode {
    background-color: #222;
    color: #fff
}

.dark-mode,
.dark-mode html,
.dark-mode body,
.dark-mode #col2-body {
    background-color: #222;
    color: #fff;
    box-shadow: none;
}

.dark-mode #col1-body {background-color: rgba(170, 211, 121, .1);}

.dark-mode iframe {
    filter: invert(87%)
}