<details>
    <summary class="sidebar-heading">
        <span class="emoji">📚</span>
        &nbsp;Library
    </summary>
    <p>
        <a href="../books/book-a.html" title="Book A">
            <span class="emoji">📙</span>
            &nbsp;Book A
        </a>
    </p>
    <p>
        <a href="../books/book-b.html" title="Book B">
            <span class="emoji">📘</span>
            &nbsp;Book B
        </a>
    </p>
    <p>
        <a href="../books/book-c.html" title="Book C">
            <span class="emoji">📕</span>
            &nbsp;Book C
        </a>
    </p>
</details>
<br>