<details>
    <summary class="sidebar-heading"><span class="emoji">📈</span> Project</summary>
    <p><a href="../pages/1-home.html" title="Home"><span class="emoji">🏠</span> Home</a></p>
    <p><a href="../pages/2-info.html" title="Info"><span class="emoji">📋</span> Info</a></p>
    <p><a href="../pages/3-legal.html" title="Legal"><span class="emoji">⚖️</span> Legal</a></p>
    <p><a href="../pages/4-contact.html" title="Contact"><span class="emoji">❤️</span> Contact</a></p>
    <p><a target="_blank" href="https://shklr.org" title="Parent Org"><span class="emoji">⭕</span> shklr.org</a></p>
    <hr>
    <p><a target="_blank" href="https://github.com/sergioSHKLR/librus/issues" title="Wiki"><span
    class="emoji">📖</span> Wiki</a></p>
    <p><a target="_blank" href="https://github.com/sergioSHKLR/librus/issues" title="Forum"><span
    class="emoji">👥</span> Forum</a></p>
    <p><a target="_blank" href="https://github.com/sergioSHKLR/librus/issues" title="Bugs"><span
    class="emoji">🐛</span> Bugs</a></p>
    <p><a target="_blank" href="https://github.com/sergioSHKLR/librus" title="Repo"><span class="emoji">📦</span> Repo</a></p>
    <hr>
    <p class="sidebar-heading"><span class="emoji">⌨️</span> Details</p>
    <p><span class="emoji">💾</span> Version <kbd>24.1.11</kbd></p>
    <p><span class="emoji">🗓️</span> Updated on {{ "today" | date: "%b-%Y" }}</p>
    <p><span class="emoji">🛡️</span> CC BY-NC-SA 4.0</a></p>
    </details>