<details>
    <summary class="sidebar-heading">
        <span class="emoji">📈</span>
        &nbsp;Project
    </summary>
    <p>
        <a href="../pages/1-home.html" title="Home">
            <span class="emoji">🏠</span>
            &nbsp;Home
        </a>
    </p>
    <p>
        <a href="../pages/2-info.html" title="Info">
            <span class="emoji">📋</span>
            &nbsp;Info
        </a>
    </p>
    <p>
        <a href="../pages/3-legal.html" title="Legal">
            <span class="emoji">⚖️</span>
            &nbsp;Legal
        </a>
    </p>
    <p>
        <a href="../pages/4-contact.html" title="Contact">
            <span class="emoji">❤️</span>
            &nbsp;Contact
        </a>
    </p>
    <p>
        <a target="_blank" href="https://shklr.org" title="Parent Org">
            <span class="emoji">⭕</span>
            &nbsp;shklr.org
        </a>
    </p>
    <hr style="margin-right: 30px">
    <p>
        <a target="_blank" href="https://github.com/sergioSHKLR/librus/wiki" title="Wiki">
            <span class="emoji">📖</span>
            &nbsp;Wiki
        </a>
    </p>
    <p>
        <a target="_blank" href="https://github.com/sergioSHKLR/librus/discussions" title="Forum">
            <span class="emoji">👥</span>
            &nbsp;Forum
        </a>
    </p>
    <p>
        <a target="_blank" href="https://github.com/sergioSHKLR/librus/issues" title="Bugs">
            <span class="emoji">🐛</span>
            &nbsp;Bugs
        </a>
    </p>
    <p>
        <a target="_blank" href="https://github.com/sergioSHKLR/librus" title="Repo">
            <span class="emoji">📦</span>
            Repo
        </a>
    </p>
    <p class="sidebar-heading">
        <span class="emoji">⌨️</span>
        &nbsp;Details
    </p>
    <p>
        <span class="emoji">💾</span>
        &nbsp;Version&nbsp;<kbd>24.1.12</kbd>
    </p>
    <p>
        <span class="emoji">🗓️</span>
        &nbsp;Updated on&nbsp;{{ "today" | date: "%b-%Y" }}
    </p>
    <p>
        <span class="emoji">🛡️</span>
        &nbsp;CC BY-NC-SA 4.0
        </a>
    </p>
</details>