<div id="vert-tools">
    <button id="tools-menu" onclick="function00()"
    title="Font size, line height, font type, background color, or paragraph alignment">Aa<br><span
    class="label">typo</span></button>
    <div id="vert-tools-buttons" class="hide">
    <button class="tools fontSize" id="decreasetext" type="button" value="-1" title="Smaller font"><span
    class="icon">text_decrease</span><br><span class="label">letter</span></button>
    <button class="tools fontSize" id="increasetext" type="button" value="+1" title="Larger font"><span
    class="icon">text_increase</span><br><span class="label">letter</span></button>
    <button class="tools lineHeight" id="decreaselineheight" type="button" value="-1"><span
    class="icon">density_small</span><br><span class="label">lines</span></button>
    <button class="tools lineHeight" id="increaselineheight" type="button" value="+1"><span
    class="icon">density_large</span><br><span class="label">lines</span></button>
    <button class="tools" id="ff-se-btn" onclick="function02()" title="Serif font"><span
    style="font-family: 'Georgia', serif;">Se</span><br><span class="label">serif</span></button>
    <button class="tools" id="ff-sa-btn" onclick="function03()" title="Sans font"><span
    style="font-family: 'Inter', sans;">Sa</span><br><span class="label">sans</span></button>
    <button class="tools" id="ff-mo-btn" onclick="function04()" title="Mono font"><span
    style="font-family: 'Roboto Mono', monospace;">Mo</span><br><span class="label">mono</span></button>
    <button class="tools" id="bc-ye-btn" onclick="function07()" title="Yellow background"><span
    class="icon tools-round" style="background-color: #fffce4;">&nbsp;</span><br><span
    class="label">yellow</span></button>
    <button class="tools" id="bc-gr-btn" onclick="function08()" title="Green background"><span
    class="icon tools-round" style="background-color: #e8fce4;">&nbsp;</span><br><span
    class="label">green</span></button>
    <button class="tools" id="bc-pi-btn" onclick="function09()" title="Pink background"><span
    class="icon tools-round" style="background-color: #fff0f5;">&nbsp;</span><br><span
    class="label">pink</span></button>
    <button class="tools" id="ta-ju-btn" onclick="function01()" title="Justified"><span
    class="icon">format_align_justify</span><br><span class="label">justif.</span></button>
    <button class="tools" id="ra-btn" onclick="functionReset()" title="Reset all (needs reload)"><span class="icon"
    style="color: crimson;">restart_alt</span><br><span class="label">reset</span></button>
    </div>
    </div>
    </div>