<div id="vert-tools">
    <button id="tools-menu" onclick="function00()"
        title="Font size, line height, font type, background color, or paragraph alignment">Aa<br>
        <span class="label">typo</span>
    </button>

    <div id="vert-tools-buttons" class="hide">
        <button title="Smaller font" class="tools fontSize" id="decreasetext" type="button" value="-1">
            <span class="icon">text_decrease</span>
            <br>
            <span class="label">letter</span>
        </button>

        <button title="Larger font" class="tools fontSize" id="increasetext" type="button" value="+1"><span
                class="icon">text_increase</span>
            <br>
            <span class="label">letter</span>
        </button>

        <button title="Tighter lines" class="tools lineHeight" id="decreaselineheight" type="button" value="-1"><span
                class="icon">density_small</span>
            <br>
            <span class="label">lines</span>
        </button>

        <button title="Wider lines" class="tools lineHeight" id="increaselineheight" type="button" value="+1"><span
                class="icon">density_large</span>
            <br>
            <span class="label">lines</span>
        </button>

        <button title="Serif font" class="tools" id="ff-se-btn" onclick="function02()"><span
                style="font-family: 'Georgia', serif;">Se</span>
            <br>
            <span class="label">serif</span>
        </button>

        <button title="Sans font" class="tools" id="ff-sa-btn" onclick="function03()"><span
                style="font-family: 'Inter', sans;">Sa</span>
            <br>
            <span class="label">sans</span>
        </button>

        <button title="Mono font" class="tools" id="ff-mo-btn" onclick="function04()"><span
                style="font-family: 'Roboto Mono', monospace;">Mo</span>
            <br>
            <span class="label">mono</span>
        </button>

        <button title="Yellow background" class="tools" id="bc-ye-btn" onclick="function07()"><span
                class="icon tools-round" style="background-color: #fffce4;">&nbsp;</span>
            <br>
            <span class="label">yellow</span>
        </button>

        <button title="Green background" class="tools" id="bc-gr-btn" onclick="function08()"><span
                class="icon tools-round" style="background-color: #e8fce4;">&nbsp;</span>
            <br>
            <span class="label">green</span>
        </button>

        <button title="Pink background" class="tools" id="bc-pi-btn" onclick="function09()"><span
                class="icon tools-round" style="background-color: #fff0f5;">&nbsp;</span>
            <br>
            <span class="label">pink</span>
        </button>

        <button title="Justified" class="tools" id="ta-ju-btn" onclick="function01()"><span
                class="icon">format_align_justify</span>
            <br>
            <span class="label">justif.</span>
        </button>

        <button title="Reset & reload" class="tools" id="ra-btn" onclick="functionReset()"><span class="icon"
                style="color: crimson;">restart_alt</span>
            <br>
            <span class="label">reset</span>
        </button>

    </div>
</div>
</div>