<div id="col2-head" class="head">
    <button title="Open menu" id="col2-menu-on" onclick="menuOn()">
        <span class="icon">menu</span>
        <br><span class="label">menu</span>
    </button>

    <button title="Close menu" id="col2-menu-off" hidden onclick="menuOff()">
        <span class="icon">close</span>
        <br><span class="label">close</span>
    </button>

    <a href="../pages/1-home.html" id="col2-brand">
        <span class="emoji" title="Return to Home">📗</span>
        <span class="label2">&nbsp;librus.app</span>
    </a>
    <button title="Share" id="col2-sha-btn" class="fr" onclick="webShare()">
        <span class="icon">share</span>
        <br><span class="label">share</span>
    </button>

    <button title="Fullscreen" id="col2-fs-btn" class="fr" onclick="openFullscreen()">
        <span class="icon">fullscreen</span>
        <br><span class="label">full</span>
    </button>

    <button title="Normal screen" id="col2-ns-btn" class="fr hide" onclick="closeFullscreen()">
        <span class="icon">fullscreen_exit</span>
        <br><span class="label">normal</span>
    </button>

    <button title="Dark mode" id="col2-dm-btn" class="fr" onclick="darkMode()">
        <span class="icon">contrast</span>
        <br><span class="label">dark</span>
    </button>

    <button title="Lite mode" id="col2-lm-btn" class="fr hide" onclick="lightMode()">
        <span class="icon">contrast_rtl_off</span>
        <br><span class="label">lite</span>
    </button>

    <button title="Hide labels" id="col2-loff-btn" class="fr" onclick="labelOff()">
        <span class="icon">label_off</span>
        <br><span class="label">hide</span>
    </button>

    <button title="Show labels" id="col2-lon-btn" class="fr hide" onclick="labelOn()">
        <span class="icon">label</span>
    </button>

</div>