<div id="col3-head" class="head">
    <button id="col3-link4-a" class="fr"
    onclick="window.open('https://doutrina.whereby.com/estudos41936e66-2cc4-470a-aa9e-727a361496d0', '_blank');return false;"
    title="Vídeo chamada" tabindex="9"><span class="icon">video_call</span><br><span class="label">vídeo</span></button>
    <button id="col3-link3-a" class="fr" onclick="window.open('../assets/maps/map-ese.html', 'ext');return false;" title="Maps" tabindex="8"><span class="icon">location_on</span><br><span class="label">maps</span></button>
    <button id="col3-link2-a" class="fr" onclick="window.open('https://en.m.wiktionary.org', 'ext');return false;" title="Dictionary" tabindex="7"><span class="icon">book_2</span><br><span class="label">dict.</span></button>
    <button id="col3-link1-a" class="fr" onclick="window.open('https://en.m.wikipedia.org/', 'ext');return false;" title="Encyclopedia" tabindex="6"><span class="icon">language</span><br><span class="label">wiki</span></button>
    </div>