<!DOCTYPE html>
<html lang="en-US">
<!-- VERSION 23.12.27  -->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} | librus.app</title>
  <meta name="description"
    content="A one-of-a-kind platform for research & study.">
  <meta name="author" content="sergioSHKLR, librus@shklr.org">

  <!-- OPEN GRAPH / FACEBOOK -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://librus.app/">
  <meta property="og:title" content="librus">
  <meta property="og:description"
    content="A one-of-a-kind platform for research & study.">
  <meta property="og:image" content="./pwa/opengraph.png">

  <!-- TWITTER / X -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://librus.app/">
  <meta property="twitter:title" content="librus">
  <meta property="twitter:description"
    content="A one-of-a-kind platform for research & study.">
  <meta property="twitter:image" content="./pwa/twitter.png">

  <!-- GOOGLE PRECONNECT -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <!-- GOOGLE FONTS -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@200;300;400&family=Roboto+Mono:wght@200;300;400&family=Roboto+Slab:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500&family=Russo+One&family=Zeyada&display=swap">

  <!-- GOOGLE ICONS -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..300,0..1,-50..200">

  <!-- CSS -->
  <link rel="stylesheet" href="./css/styles.css">

  <!-- PWA -->
  <link rel="manifest" href="./pwa/site.webmanifest">
  <link rel="icon" href="./pwa/favicon.svg" type="image/svg+xml">
  <meta name="theme-color" content="#f8fff0">

  <!-- STYLES -->
  <style>
  </style>
</head>

<!-- BODY -->
<body>

  <!-- COL1 HEAD -->
  <div id="col1-head" class="head">
    <a href="./1-home.html"id="col1-brand">📗 librus</a>
  </div>

  <!-- COL1 BODY -->
  <div id="col1-body">

    <!-- COL1 TOC -->
    <p class="sidebar-heading">{{ page.title }}</p>

    {% include toc.html html=content h_min=2 h_max=3 item_class="toc" %}

    <!-- COL1 LINKS -->
    <details open>
      <summary class="sidebar-heading">📚 Library</summary>
      <p><a href="./book-a.html" title="Book A">📙 Book A</a></p>
      <p><a href="./book-b.html" title="Book B">📘 Book B</a></p>
      <p><a href="./book-c.html" title="Book C">📕 Book C</a></p>
    </details><br>

    <!-- COL1 DETAILS -->
    <details>
      <summary class="sidebar-heading">📈 Project</summary>
      <p><a href="./1-home.html"title="Home">🏠 Home</a></p>
      <p><a href="./2-info.html" title="Info">📋 Info</a></p>
      <p><a href="./3-reviews.html" title="Reviews">❤️ Reviews</a></p>
      <p><a href="./4-legal.html" title="Legal">⚖️ Legal</a></p>

      <!-- COL1 REPO -->
      <p class="sidebar-heading">🖥️ Source code</p>
      <p><a target="_blank" href="https://github.com/sergioSHKLR/librus/wiki" title="Wiki">📖 Wiki</a></p>
      <p><a target="_blank" href="https://github.com/sergioSHKLR/librus" title="Repo">📦 Repo</a>
      </p>
      <p><a target="_blank" href="https://github.com/sergioSHKLR/librus/issues" title="Bugs">🐛 Bugs</a></p>
      <p><a target="_blank" href="https://github.com/sergioSHKLR/librus/discussions" title="Forum">💬 Forum</a></p>

      <!-- STATS -->
      <p class="sidebar-heading">⌨️ Details</p>
      <p>💾 Version <kbd>23.12.27</kbd></p>
      <p>🗓️ Updated on {{ "today" | date: "%b-%Y" }}</p>
      <p>🛡️ <a href="./legal.html">CC BY-NC-SA 4.0</a></p>

      <!-- COL1 LANG 
      <p class="sidebar-heading">💬 Idiomas</summary>
      <p><a target="_self" href="https://en.librus.app/" title="Inglês Americano">🇺🇸 American English</a></p> -->

      <!-- COL1 PART OF -->
      <p class="sidebar-heading">💼 Part of</p>
      <p><a target="_blank" href="https://shklr.org" title="Parent Org">⭕ shklr.org</a></p>

    </details><br>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <!-- COL1 VERT TOOLS-->
    <div id="vert-tools">
      <button title="Adjust font size, type and background color" style="border-bottom: 1px solid #59595980;"><span
          class="icon">instant_mix</span></button>
      <button class="tools" id="ti-btn" onclick="function1()" title="Bigger font"><span
          class="icon">text_increase</span></button>
      <button class="tools" id="td-btn" onclick="function2()" title="Smaller font"><span
          class="icon">text_decrease</span></button>
      <button class="tools" id="aj-btn" onclick="function4()" title="Justified text"><span
          class="icon">format_align_justify</span></button>
      <button class="tools" id="f2-btn" onclick="function6()" title="Serif font"><span
          style="font-family: 'Georgia', serif;">Se</span></button>

      <button class="tools" id="f1-btn" onclick="function5()" title="Sans-serif font"><span
          style="font-family: 'Inter', sans;">Sa</span></button>

      <button class="tools" id="f3-btn" onclick="function7()" title="Monospace font"><span
          style="font-family: 'Roboto Mono', monospace;">Mo</span></button>

      <button class="tools" id="ds-btn" onclick="function9()" title="Narrower line height"><span
          class="icon">density_small</span></button>
      <button class="tools" id="dm-btn" onclick="function10()" title="Wider line height"><span
          class="icon">density_large</span></button>
      <button class="tools" id="b1-btn" onclick="function11()" title="Yellow background"><span class="icon"
          style="border-radius: 50%; background-color: #fffce4; border: 1px solid #59595980;">&nbsp;</span></button>
      <button class="tools" id="b2-btn" onclick="function12()" title="Green background"><span class="icon"
          style="border-radius: 50%; background-color: #e8fce4; border: 1px solid #59595980;">&nbsp;</span></button>
      <button class="tools" id="b3-btn" onclick="function13()" title="Pink background"><span class="icon"
          style="border-radius: 50%; background-color: #fff4fc; border: 1px solid #59595980;">&nbsp;</span></button>
      <button class="tools" id="lo-btn" onclick="function15()" title="Hide links"><span
          class="icon">link_off</span></button>
      <button class="tools" id="ra-btn" onclick="functionResetAll()" title="reset all"><span
          class="icon">restart_alt</span></button>
    </div>
  </div>

  <!-- COL2 HEAD -->
  <div id="col2-head" class="head">
    <button id="col2-menu-on" onclick="menuOn()" title="open menu"><span class="icon">menu</span></button>
    <button id="col2-menu-off" hidden onclick="menuOff()" title="close menu"><span class="icon">close</span></button>
    <a href="./1-home.html"id="col2-brand">📗 librus</a>

    <!-- 
<button id="webshare" class="fr" label="compartilhe"><span class="icon">share</span></button> -->

    <button id="col2-fs-btn" class="fr mr-50" onclick="openFullscreen()" title="full screen"><span
        class="icon">fullscreen</span></button>
    <button id="col2-ns-btn" class="fr mr-50 hide" onclick="closeFullscreen()" title="normal screen"><span
        class="icon">fullscreen_exit</span></button>
    <button id="col2-dm-btn" class="fr" onclick="darkMode()" title="dark mode"><span
        class="icon">dark_mode</span></button>
    <button id="col2-lm-btn" class="fr hide" onclick="lightMode()" title="lite mode"><span
        class="icon">light_mode</span></button>

  </div>

  <!-- COL2 BODY -->
  <div id="col2-body">
    {{ content }}
  </div>

  <!-- COL3 HEAD -->
  <div id="col3-head" class="head">

    <a id="col3-link3-a" class="fr" target="ext" href="./content/maps/paris.html" title="maps"><span
        class="icon">location_on</span></a>

    <a id="col3-link2-a" class="fr" target="ext" href="https://en.m.wiktionary.org" title="dictionary"><span
        class="icon">book_2</span></a>

      <a id="col3-link1-a" class="fr" target="ext" href="https://en.m.wikipedia.org/" title="encyclopedia"><span
          class="icon">language</span></a>

      <!-- <a id="col3-link4-a" target="_blank" href="https://doutrina.whereby.com/whereby-2023-8maxc22cd350-c33a-4f52-bd16-862eaddd5514"
title="vídeo chamada"><span class="icon">video_call</span></a> -->
  </div>

  <!-- COL3 BODY -->
  <div id="col3-body">
    <iframe id="ext-iframe" loading="lazy" name="ext" title="aside panel" src="./ext.html" allowfullscreen></iframe>
  </div>

  <div id="hypo" onclick="hypoAlert()" title="Problems?"><span class="material-symbols-outlined">
      help
    </span></div>

<!-- SCRIPTS -->
<script src="./js/check-align.js"></script>
<script src="./js/check-line.js"></script>
<script src="./js/check-family.js"></script>
<script src="./js/check-bground.js"></script>
<script src="./js/dark-mode.js"></script>
<script src="./js/check-contrast.js"></script>
<script src="./js/ext-links.js"></script>
<script src="./js/check-size.js"></script>
<script src="./js/fullscreen.js"></script>
<script src="./js/hypo-alert.js"></script>
<script src="./js/menu.js"></script>
<script src="./js/string-replace.js"></script>
<script src="./js/tools.js"></script>

  <script type="application/json" class="js-hypothesis-config">
{
"showHighlights": true,
"openSidebar": false
}
</script>
  <script async src="https://hypothes.is/embed.js"></script>

  <div id="alert" class="hide">On a cell? Use it on landscape mode.</div>

</body>

</html>