<html>

<head>
    <!-- GOOGLE PRECONNECT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- GOOGLE FONTS -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@200;300;400&family=Roboto+Mono:wght@200;300;400&family=Roboto+Slab:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500&family=Russo+One&family=Zeyada&display=swap">

    <!-- CSS -->
    <link rel="stylesheet" href="./framework/css/content.css">
    <link rel="stylesheet" href="./framework/css/dark-mode.css">
    <link rel="stylesheet" href="./framework/css/framework.css">
    <link rel="stylesheet" href="./framework/css/headings.css">
    <link rel="stylesheet" href="./framework/css/media-queries.css">

    <style>
        html,
        body {
            margin: 0;
            padding: 0;
        }
    </style>

<body>

    <div id="col2-body" style="position: unset; left: unset;width: 100%; border: none; top: 0; background-color: transparent;">

        {{ content }}

    </div>

</body>
</head>

</html>