<!DOCTYPE html>
<html lang="en-US">
<!-- VERSION 23/11/25 -->

<head>

 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>{{ page.title }} | librus</title>
 <meta name="description"
 content="a one-of-a-kind integrated study platform">
 <meta name="author" content="sergioSHKLR, sergio@shklr.org">

 <!-- GOOGLE PRECONNECT -->
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

 <!-- GOOGLE FONTS -->
 <link rel="stylesheet"
 href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@200;300;400&family=Roboto+Mono:wght@200;300;400&family=Roboto+Slab:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500&family=Russo+One&family=Zeyada&display=swap">

 <!-- GOOGLE ICONS -->
 <link rel="stylesheet"
 href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0" />

 <!-- CSS -->
 <link rel="stylesheet" href="./framework/css/content.css">
 <link rel="stylesheet" href="./framework/css/dark-mode.css">
 <link rel="stylesheet" href="./framework/css/framework.css">
 <link rel="stylesheet" href="./framework/css/headings.css">
 <link rel="stylesheet" href="./framework/css/media-queries.css">

 <!-- PWA -->
 <link rel="manifest" href="./framework/pwa/site.webmanifest">
 <link rel="icon" href="./framework/pwa/favicon.svg" type="image/svg+xml">
 <meta name="theme-color" content="#aad379">
 <script type="text/javascript" async>
 if (typeof navigator.serviceWorker !== 'undefined') {
 navigator.serviceWorker.register('./framework/pwa/sw.js')
 }
 </script>

 <!-- SCRIPTS -->

 <!-- STYLES -->
 <style>
 #col2-body {
 box-shadow: none !important;
 }
 </style>

</head>

<!-- BODY -->

<body onload="checkMode()">

 <!-- COL1 HEAD -->
 <div id="col1-head">

 <a href="./" id="col1-brand">📗 librus</a>

 </div>

 <!-- COL1 BODY -->
 <div id="col1-body">

 <!-- COL1 DETAILS -->
 <p class="sidebar-heading">Project</p>
 <p><a href="./" title="home">🏠 Home</a></p>
 <p><a href="./1-info.html" title="info">📋 Info</a></p>
 <p><a href="./2-license.html" title="license">⚖️ License</a></p>
 <p><a href="./3-reviews.html" title="reviews">💬 Reviews</a></p>
 <p><a href="./4-contact.html" title="contact">📬 Contact</a></p>

 <!-- COL1 LINKS -->
 <p class="sidebar-heading">Library</p>
 <p><a href="./A-book.html" title="Book">📔 Book</a></p>
 <p><a href="./B-treaty.html" title="The Naval Treaty">⚓ The Naval Treaty</a></p>

 <!-- COL1 REPO -->
 <p class="sidebar-heading">Source code</p>
 <p><a target="_blank" href="https://github.com/sergioSHKLR/librus" title="repository">📦 Repo</a>
 </p>
 <p><a target="_blank" href="https://github.com/sergioSHKLR/librus/issues" title="issues">🐛 Bugs</a></p>

 <!-- STATS -->
 <p class="sidebar-heading">Details</p>
 <p>#️⃣ Version <kbd>11.23a</kbd></p>
 <p>🗓️ Updated on {{ "today" | date: "%b-%y" }}</p>

 <p>&nbsp;</p>
 <p>&nbsp;</p>
 <p>&nbsp;</p>

 </div>

 <!-- COL2 HEAD -->
 <div id="col2-head">

 <button id="col2-menu-on" onclick="menuOn()" title="opens/closes menu"><span class="icon">menu</span></button>

 <button id="col2-menu-off" hidden onclick="menuOff()" title="opens/closes menu"><span
 class="icon">menu</span></button>

 <a href="./" id="col2-brand">📗 librus</a>

 <button id="col2-fs-btn" class="fr mr-50" onclick="openFullscreen2()" title="fullscreen"><span
 class="icon">fullscreen</span><span class="label">fullscreen</span></button>

 <button id="col2-ns-btn" class="fr mr-50 hide" onclick="closeFullscreen2()" title="tela normal"><span
 class="icon">fullscreen_exit</span><span class="label">normal screen</span></button>

 <button id="col2-dm-btn" class="fr" onclick="darkMode2()" title="dark mode"><span
 class="icon">dark_mode</span><span class="label">dark mode</span></button>

 <button id="col2-lm-btn" class="fr hide" onclick="lightMode2()" title="light mode"><span
 class="icon">light_mode</span><span class="label">claro</span></button>
 </div>

 <!-- COL2 BODY -->
 <div id="col2-body" style="box-shadow: none !important; background-color: transparent;">

 {{ content }}

 </div>

 <!-- COL3 HEAD -->
 <div id="col3-head">

 <a target="ext" href="https://en.m.wikipedia.org/" title="encyclopedia">
 <button id="col3-link1"><span class="icon">language</span><span class="label">encyclopedia</span>
 </button></a>

 <a target="ext" href="https://en.m.wiktionary.org/" title="dictionary">
 <button id="col3-link2"><span class="icon">book_2</span><span class="label">dictionary</span>
 </button></a>

 <a target="ext" href="https://leafletjs.com/" title="maps">
 <button id="col3-link3"><span class="icon">location_on</span><span class="label">maps</span>
 </button></a>

 <a target="ext" href="https://www.whereby.com/"
 title="vídeo call">
 <button id="col3-link4"><span class="icon">video_call</span><span class="label">video call</span>
 </button></a>

 <button id="col3-fs-btn" class="fr" onclick="openFullscreen3()" title="fullscreen"><span
 class="icon">fullscreen</span><span class="label">fullscreen</span></button>

 <button id="col3-ns-btn" class="fr hide" onclick="closeFullscreen3()" title="normal screen"><span
 class="icon">fullscreen_exit</span><span class="label">normal screen</span></button>

 <button id="col3-dm-btn" class="fr" onclick="darkMode3()" title="dark mode"><span
 class="icon">dark_mode</span><span class="label">dark mode</span></button>

 <button id="col3-lm-btn" class="fr hide" onclick="lightMode3()" title="light mode"><span
 class="icon">light_mode</span><span class="label">light mode</span></button>

 </div>

 <!-- COL3 BODY -->
 <div id="col3-body">

 <iframe id="ext-iframe" loading="lazy" name="ext" title="painel complementar"
 src=""></iframe>

 </div>

 <div
 style="font-family: sans; font-size: 12px; transform: rotate(270deg); position: absolute; top: 165px; right: -26px; vertical-align: middle;vertical-align: middle;">
 🟨 annotation</div>

 <!-- SCRIPTS -->
 <script type="text/javascript" async src="./framework/js/ext-target.js"></script>
 <script type="text/javascript" async src="./framework/js/dark-mode.js"></script>
 <script type="text/javascript" async src="./framework/js/fullscreen.js"></script>
 <script type="text/javascript" async src="./framework/js/menu.js"></script>

 <!--
 <script type="text/javascript" class="js-hypothesis-config">
 window.hypothesisConfig = function () {
 return {
 branding: {
 appBackgroundColor: 'ivory',
 ctaBackgroundColor: '#BD1C2B',
 ctaTextColor: 'white',
 selectionFontFamily: 'helvetica, arial, sans serif',
 annotationFontFamily: 'monospace'
 }
 };
 };
 </script>
-->

<!--
 <script async src="https://hypothes.is/embed.js"></script>
 <script type="application/json" class="js-hypothesis-config">
    {
      "openSidebar": true
    }
  </script> -->

</body>
</html>